$body-font-family: "Din", sans-serif;
$font_header: "Din";
$primary: #666ee8;
$dark: #2d2e4f;
$light-100: #f2f3f8;
$gray-2: #ebebf4;
$gray-3: #b7b7b7;
$gray-4: #898989;
$gray-5: #646464;
$border-black-color: 1px solid #000;
$border-color: $primary;
